{% load static %} {%if msg%} {{msg}} {%endif%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Login Page{% endblock title%}</title>
    {% block head%}{% endblock%}
</head>

<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo">U&D</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <form action="/search" method="GET">{% csrf_token %}
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">search</i>
                                        <input type="text" class="autocomplete" name="search" id="autocomplete-input" placeholder="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li><a href="/">Main</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <center>
        <h3 style="text-align:center">Registration Form</h3>
        <div class="row">
            <div class="col-12">

                <form class="col s6 push-s3" method="POST" action='/register/'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{fm.username}}{{fm.errors|striptags}}
                            <label for="roll">Student_ER_NO</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{fm.first_name}}{{fm.errors|striptags}}
                            <label for="first_name">Student Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{fm.email}}{{fm.errors|striptags}}
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{fm.password1}}{{fm.errors|striptags}}
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{fm.password2}}{{fm.errors|striptags}}
                            <label for="password">confirm password</label>
                        </div>
                    </div>
                    <button type="submit" class="waves-light blue btn">Submit</button>
                </form>
            </div>
        </div>
    </center>

</body>

</html>